@using  Microsoft.AspNetCore.Http;
@model List<UserMessage>

@{
    ViewData["Title"] = "Index";
}

<style>
    #window {
        display: block;
        background: #c4c4c4;
        border: 1px solid black;
        width: 400px;
        height: 700px;
        padding: 5px;
        overflow: scroll;
    }
</style>

<div>
<div id="window">
    <ul>

        @if (Model.Count() > 0) { foreach (UserMessage message in Model) {

        if (Context.Session.IsAvailable) {

        if (message.CanSee.Count() == 0) { <li>@message.Name: @message.Message</li> } 

        else if (message.CanSee.Contains(Context.Session.GetString("username").ToLower())) { <li>@message.Name: @message.Message</li> }
        
        } } }

        @if (Context.Session.IsAvailable) { if (Context.Session.GetString("username") == "Jason") { <li>Jason forgot to remove this test code or is testing</li> } }
        

        <li id="messagesList">@DateTime.Now.ToLocalTime()</li>

    </ul>
</div>

    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-4"><input type="hidden" id="userInput" value="@ViewBag.Name"/></div>
    </div>
    <div class="row">
        <div class="col-4"><input type="text" id="messageInput"/></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message"/>
        </div>
    </div>

</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>