@model ModuleData

<head>
	<style>
		.ModuleData{
			position: absolute;
			left: @(@Model.X + "px") ;
			top: @(@Model.Y + "px");
			width: @Model.Width;
			height: @Model.Height;
		}
	</style>
</head>

<div class="ModuleData">
	@Model.Id;
	This is a Module

</div>