@model ModuleData
<link type="text/css" href="~/css/moduledata.css"/>

<div class="ModuleData" style="position:absolute; left: @(Model.X + "px"); top: @(Model.Y)px; width: @(Model.Width)px; height: @(Model.Height)px;">
<img style="position:absolute; width: @(Model.Width + "px"); height: @(Model.Height + "px");" src="@Model.BGImage"/>

</div>