@model ModuleData

<head>
	<style>
		.ModuleData {
			position: absolute;
		}
	</style>
</head>

<div class="ModuleData" style="left: @(Model.X + "px"); top: @(Model.Y)px; width: @(Model.Width)px; height: @(Model.Height)px;">
	@if (Model.Data != null) {

	if (Model.ModuleType == ModuleData.moduleType.TEXT) { 
	<div style="left: @(Model.X + "px"); top: @(Model.Y)px; width: @(Model.Width)px; height: @(Model.Height)px; text-align:center; overflow: scroll;"> @Model.Data

	<form action="EditModule">

	<input type="hidden" name="moduleID" value="@Model.Id" /><br />
	<input type="text" name="data" style="width: @(Model.Width)px;"/><br />
	<input type="submit" value="Edit Data" />

	</form>
					  
	</div>	
	} else { 
	<div style="left: @(Model.X + "px"); top: @(Model.Y)px; width: @(Model.Width)px; height: @(Model.Height)px; text-align:center;"> @Model.Data
	
	<form action="EditModule">

	<input type="hidden" name="moduleID" value="@Model.Id" /><br />
	<input type="text" name="data" style="width: @(Model.Width)px;"/><br />
	<input type="submit" value="Edit Data" />

	</form> </div>		
	}

    } else { 
	<img style="position:absolute; width: @(Model.Width + "px"); height: @(Model.Height + "px");" src="@Model.BgImageUrl"/>
	}
</div>