@model ModuleData

<head>
	<style>
		.ModuleData {
			position: absolute;
		}
	</style>
</head>

<div class="ModuleData" style="left: @(Model.X + "px"); top: @(Model.Y)px; width: @(Model.Width)px; height: @(Model.Height)px; color: @("#" + Model.TextColor.Name); ">
	<img style="position:absolute; width: @(Model.Width + "px"); height: @(Model.Height + "px");" src="@Model.BgImageUrl"/>
</div>