@model ModuleData
<link type="text/css" href="~/css/moduledata.css"/>

<p class="ModuleData" style="left: @(Model.X + "px");
			top: @(Model.Y)px;
			width: @(Model.Width)px;
			height: @(Model.Height)px;">
	@Model.X
	@Model.Y

	@Model.Id;
	This is a Module

</p>