@model ModuleData
<head>
	<style>
		.ModuleData{
			position: absolute;
			
		}
	</style>
</head>

<div class="ModuleData" style="left: @Model.X;
			top: @Model.Y;
			width: @Model.Width;
			height: @Model.Height;">
	@Model.Id;
	This is a Module

</div>