@using  Microsoft.AspNetCore.Http;
@model List<ModularSheet>
@{
	ViewData["Title"] = "Index";
}

<body class="middleGrid">
	<div style="width: 100%; height: 100px;">
		Here are all your Sheets, @Context.Session.GetString("username")
	</div>

	<p>
		@foreach (var sheet in @Model)
		{
			<div style="width: 30%; height: 100px;">
			<a asp-action="DisplaySheetWithID" asp-route-id="@sheet.DatabaseId" class="primBtn"> Sheet Name: @sheet.Name </a>
			<a asp-action="Update" asp-route-id="@sheet.DatabaseId" class="primBtn">Rename Sheet</a>
			<a asp-action="Delete" asp-route-id="@sheet.DatabaseId" class="primBtn">Delete Sheet</a>

			</div>
		}
	</p>
</body>
