@using  Microsoft.AspNetCore.Http;
@model List<ModularSheet>
@{
	ViewData["Title"] = "Index";
}

<body class="middleGrid">
    <div>
    <p>
        Here are all your Sheets, @Context.Session.GetString("username")
        <a asp-action="AddSheet" class="primBtn"> Create D&D 5e sheet </a>
        </p>
    </div>

    <div style="left: 0px; top: 150px; position:absolute;">
    <p>
        @foreach (var sheet in @Model)
        {
            <div style="height:auto; padding: 30px 0px; width:auto;">
            <a asp-action="DisplaySheetWithID" asp-route-id="@sheet.DatabaseId" class="primBtn sheet">
                Sheet Name: @sheet.Name
            </a>
            @*<a asp-action="DisplaySheetWithID" asp-route-id="@sheet.DatabaseId" class="primBtn"> Sheet Name: @sheet.Name </a>*@
            <a asp-action="Update" asp-route-id="@sheet.DatabaseId" class="primBtn">Rename Sheet</a>
            <a asp-action="Delete" asp-route-id="@sheet.DatabaseId" class="primBtn">Delete Sheet</a>
            </div>
        }
    </p>
    </div>
</body>